:root {
    --mainColor: #e9e9e9;
    --secondaryColor: #d6d6d6;
  
    --borderColor: #c1c1c1;
  
    --mainText: #3a3a3a;
    --secondaryText: #7b7b7b;
    --introText:  #e9e9e9;
    --icon: #181d24;
  
    --themeDotBorder: #313131;
  
    --previewBg: hsl(107, 28%, 87%, 0.9);
    --previewShadow: #f9d268;
  
    --btnColor: Black;
  
    --filter: rgba(74, 94, 98, 0.2);
  }