@font-face {
    font-family: "Montserrat Regular";
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: "Montserrat Light";
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    font-weight: 300;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-accent : #bb86fc;
    --secondary-accent : #c5b4da;
    --bg: #ededed;
    --bg-secondary: #f3f2f2;
    --primary-font: #333333;
    --secondary-font: #686868;
    --font-reg: "Montserrat Regular";
    --font-light: "Montserrat Light";
    --font-size: 14px;
    --font-size-head: 2em;
    --font-size-small: 11.24px;
    --icon-size: 1.6em
}

a,p,span,li{
    font-family: var(--font-reg);
    font-size: var(--font-size);
}

a{
    color: var(--secondary-font)
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

body{
    background: linear-gradient(0deg, rgba(212,212,212,1) 0%, rgba(232,232,232,1) 48%, rgba(246,246,246,1) 100%);
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1000px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
}

.actions{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.buttons{
    padding: 3px;
    display: flex;
    gap: 10px;
}

.buttons a {
    padding: 10px;
    font-size: 1.4em;
}

.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.profile-details{
    display: flex;
    flex-direction: column;
    font-family: var(--font-reg);
    font-size: var(--font-size);
    gap: 8px;
}

.profile .name{
    font-family: var(--font-reg);
    color: var(--primary-font);
    font-size: var(--font-size-head);
    font-weight: bold;
}

.profile .region{
    color: var(--secondary-font);
    font-family: var(--font-light);
}

.header .description p{
    font-size: 0.9em;
}

.avatar img{
    height: 5em;
    border-radius: 6px;
}

.section{
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-title{
    font-family: var(--font-reg);
    font-weight: bold;
}

.skills .prog-languages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 3fr));
    gap: 15px;
}

.skills .prog-languages .language{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px ;
    align-items: center;
    text-align: center;
    background-color: var(--bg-secondary);
    border-radius: 6px;
    height: 80px;
 
    /* shadow */
    -webkit-box-shadow: 1px 9px 29px -10px rgba(199,199,199,1);
    -moz-box-shadow: 1px 9px 29px -10px rgba(199,199,199,1);
    box-shadow: 1px 9px 29px -10px rgba(199,199,199,1);
}

.prog-languages .icon {
    font-size: 2em;
}

.prog-languages .name{
    font-size: 0.7em;
    font-family: var(--font-reg);
    color: var(--primary-font);
    font-weight: 800;
}

.hard-skills-menu{
    font-family: var(--font-reg);
}

.hard-skills-list {
    overflow: hidden;
    max-height: 0;
    -moz-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
}

.hard-skills-title i {
    margin-left: 5px;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    color: var(--primary-accent);
}

.rotate {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    transform:rotate(90deg);
}

.hard-skills-title{
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.open-other-skills{
    max-height: 390px;
}

.hard-skills-menu .hard-skills-list ul{
    list-style: none;
    margin-left: 10px;
}

.hard-skills-menu .hard-skills-list ul li{
    display: flex;
    align-items: center;
    margin: 10px;
}
.hard-skills-menu .hard-skills-list ul li i{
    font-size: var(--icon-size);
    margin-right: 10px;
}

.experience-timeline{
    padding-left: 20px;
}

.experience .sessions{
    border-radius: 12px;
    position: relative;
    list-style: none;
    padding: 0;
}

.experience .sessions li{
    padding-bottom: 1.5rem;
    border-left: 1px solid var(--secondary-accent);
    position: relative;
    padding-left: 40px;
    margin-left: 20px;
}

.experience .sessions li:last-child{
    border: 0px;
    margin-left: 22px;
    padding-bottom: 0;
}

.experience .sessions li::before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid var(--primary-accent);
    box-shadow: 3px 3px 0px var(--secondary-accent);
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}

.experience .sessions .job{
    color: var(--primary-font);
    font-family: var(--font-reg);
}

.experience .sessions .year{
    color: var(--secondary-font);
    font-family: var(--font-reg);
    line-height: 1.5;
    margin-top:0.4rem;
    font-size: var(--font-size-small);
}

.project-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-list .project{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px ;
    background-color: var(--bg-secondary);
    border-radius: 6px;
    font-family: var(--font-reg);
    font-size: var(--font-size);
    cursor: pointer;
 
    /* shadow */
    -webkit-box-shadow: 1px 9px 29px -10px rgba(199,199,199,1);
    -moz-box-shadow: 1px 9px 29px -10px rgba(199,199,199,1);
    box-shadow: 1px 9px 29px -10px rgba(199,199,199,1);
}

.project-list .project .project-description{
    max-height: 0;
    overflow: hidden;
    font-size: var(--font-size-small);
    -moz-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
}

.active-content{
    max-height: 100px !important;
}

.project-list .project .project-title i {
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    color: var(--primary-accent);
}

.project-list .project .project-languages{
    display: flex;
    gap: 5px;
    font-size: var(--icon-size);
}

@media screen {
    .container{
        margin-left: 15%;
        margin-right: 15%;
        padding: 3%;
    }
}

@media screen and (max-width: 700px) {
    .container{
        margin-left: 5%;
        margin-right: 5%;
        padding: 0%;
    }
}
