@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-text:#00aa00;
    --secondary-text: #ccc;
    --primary-background: #333; 
}

body{
    font-family: 'Roboto Mono', sans-serif;
    background-color: var(--primary-background);
    font-size: 18px;
    line-height: 1.6;
    color: var(--secondary-text);
}

h1{
    color:var(--primary-text);
    font-size: 50px;
    letter-spacing: -5px;
    margin-bottom: 10px;
}

h3{
    margin-bottom: 10px;
}

a{
    color: var(--primary-text);
    text-decoration: none;
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

#about-content, #contact-content{
    color: var(--secondary-text);
    font-size: 70%;
    letter-spacing: -5;
}

#abt-greet{
    margin-bottom: 5px;
}

li{
    list-style-type: none;
}

nav{
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    color: var(--primary-text);
    cursor: pointer;
}

nav ul li:hover {
    color: var(--secondarty-text);
}
a:hover{
    color: var(--secondarty-text);
}

#typer{
    font-weight: 700;
    animation: 1s blink step-end infinite;
}


.wb-body{
    background-color: #111;
    padding: 3px;
}


@keyframes blink{
    from, to{
        color:transparent;
    }

    50%{
        color:var(--primary-text);
    }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 30px;
    }

    nav{
        width:100%;
    };

    li{
        font-size: 15px;
    }
}